@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
    

    .toggle,.toggle1,.toggle2 {
	display: none;
}
body{
    background-color: rgb(21, 24, 24)
}
.footer{
    width: 100vw;
    position: fixed;
    bottom: 1.3vh;
    margin: 0 auto;
    text-align: center;
}

.footer text{
color: white;
    position: relative;
    font-size: 1.5vh;
}

@media screen and (orientation: portrait) {
.top text{
    font-size: 3.4vw;
    position: fixed;
    z-index: 10;
    bottom: 0;
    left:0;
    margin: 0 auto;
    padding: 1.5vh 0;
    text-align: center;
    background-color: yellow;
    width: 100vw;
}

.blendercontentsub {
        display: flex;
    flex-direction: column;
	overflow: hidden;
    position: relative;
    height: 0;
	background:#f3f3f3;
    margin:0.2vh;
}

.blendercontentsub text{
    font-size: 3.4vw;
    text-align: center;
    margin: 3vw auto 0 auto;
    position: relative;
}

    .blendercontentpicture-row,.blendercontentvideo-row{
        justify-content: space-evenly;
        display: flex;
    flex-direction: row;
	overflow: hidden;
    position: relative;
    height: auto;
    width: auto;
    }
    .blendercontentpicture-work,.blendercontentvideo-work{
        text-align: center;
        display: flex;
    flex-direction: column;
	overflow: hidden;
    position: relative;
    height: auto;
    width: auto;
    margin:3vw 0;
}
    .blendercontentpicture-work img,.blendercontentvideo-work img{
    position: relative;
    height: 18vw;
    width: 18vw;
    border-radius: 4.5vw;
    margin: 0 auto;
    object-fit: cover;
    }

    .blendercontentpicture-work text,.blendercontentvideo-work text{
        font-size: 2.5vw;
    }


    .main{
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    }

a{
    text-decoration: none;
    color: #000;
}

.mid{
    margin: 2.2vh auto 0 auto;
    position: relative;
    top: 2vh;
        width: 85vw;
}
.snscard{
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #ededed;
    margin: 0 auto;
    top: 7.4vw;
    width: 80vw;
    height: 22vw;
    border-radius: 7.6vw;
    border:1.96px solid #999;
}
.snscard img{
    position: relative;
    top:0.1vh;
    border-radius: 4vw;
    margin: 2.55vw;
    height: 14vw;
    width: 14vw;
    object-fit: cover;
    background-color: #5c9381;
    box-shadow: #333 0.4vw 0.4vw 1.3vw;
}

.githubpages{
    overflow: hidden;
    background-color: #fdfdfd;
    width :84%;
    height: auto;
    position: relative;
    margin: 3.4vh auto;
    border-radius: 1.4vh;
    border:1.9px solid #999;
}

.icons{
    display: flex;
    flex-direction: column;
    align-items: left;
    position: absolute;
    height: 100%;
    width: auto;
}

.icons img{
    top: 0;
    width: 2.7vh;
    height: 2.7vh;
    position: relative;
    margin: 0.85vh 0.85vh;
    border-radius: 0.6vh;
}

.githublink,.githublink-end{
    top: 0.1vh;
    white-space: nowrap;
    font-size: 1.5vh;
    display: block;
    position: relative;
    margin: 0 auto;
    padding:1.3vh 0;
    width: 100%;
    padding-left: 4.8vh;
}

.githublink::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1.4px solid #777;
}

.githublink::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.2vh;
    width: 4.4vh;
    border-bottom: 5px solid #fff;
}

.linkallows{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    width: auto;
    height: 100%;
    top: 0.1vh;
    right: 0;
}

.allow{
	width: 0.6vh;
	height: 0.6vh;
	border-top: 1.6px solid #444;
	border-right: 1.6px solid #444;
	-webkit-transform: rotate(45deg);
	position: relative;
	transform: rotate(45deg);
    margin: 1.74vh 1.7vh;
}

.Blender{
    position: relative;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 87.5%;
    margin: 3.4vh auto;
    overflow: hidden;
}

.blenderlabeltop {
    position: relative;
	padding: 2.6vh 4vh;
    border-radius: 2.6vh 2.6vh 0 0;
	display: block;
    font-size:2.2vh;
	color: #444;
	background:#f3f3f3;
    margin: 0.2vh;
}
.blenderlabelbottom{
    position: relative;
	padding: 2.6vh 4vh;
    border-radius: 0 0 2.6vh 2.6vh;
	display: block;
    font-size:2.2vh;
	color: #444;
	background:#f3f3f3;
    margin: 0.2vh;
}
.blenderlabeltop::before,.blenderlabelbottom::before{
	content:"";
	width: 0.8vh;
	height: 0.8vh;
	border-top: 0.25vh solid #444;
	border-right: 0.25vh solid #444;
	-webkit-transform: rotate(45deg);
	position: absolute;
    right: 3vh;
    top: 41%;
	transform: rotate(135deg);
    transition: 0.3s;
}
.blenderlabeltop,.blenderlabelbottom,.blendercontentsub {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: 0.4s;
}

.Label{
	padding: 2.8vh 4vh;
    margin: 0.5vh 0;
    border-radius: 2.2vh;
	display: block;
    font-size:2.2vh;
	color: #444;
	background:#f3f3f3;
}
.Label::before{
	content:"";
	width: 0.8vh;
	height: 0.8vh;
	border-top: 0.25vh solid #444;
	border-right: 0.25vh solid #444;
	-webkit-transform: rotate(45deg);
	position: absolute;
    right: 3vh;
    top: 41%;
	transform: rotate(135deg);
    transition: 0.3s;
}
.Label,.snscontent,.githubcontent,.blenderlabeltop,.blenderlabelbottom{
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: 0.4s;
}
.snscontent,.githubcontent,.blendercontent{
	height: 0vw;
	margin-bottom:0.15vh;
    transition: 0.5s;
	overflow: hidden;
}
.toggle:checked + .Label + .snscontent{
    height: 38vw;
}
.toggle:checked + .Label + .githubcontent{
    height: 24.4vh;
}
.toggle:checked + .Label + .blendercontent{
    height: 50vw;
    transition: 0.5s;
}

.toggle1:checked + .blenderlabeltop + .blendercontentsub{
    height: 420vw;
    margin:0.4vh 0.2vh;
    transition: 1s;
}
.toggle2:checked + .blenderlabelbottom{
    border-radius: 0;
}
.toggle2:checked + .blenderlabelbottom + .blendercontentsub{
    height: 250vw;
    margin:0.4vh 0.2vh;
    border-radius: 0 0 2.6vh 2.6vh;
    transition: 1s;
}

.toggle:checked + .Label + .snscontent,.toggle:checked + .Label + .githubcontent,.toggle2:checked + .blenderlabelbottom + .blendercontentsub{
	transition: 0.5s;
}
.toggle:checked + .Label::before,.toggle1:checked + .blenderlabeltop::before,.toggle2:checked + .blenderlabelbottom::before{
	transform: rotate(-45deg) !important;
    transition: 0.3s;
}

}





@media screen and (orientation:landscape){
.top text{
    font-size: 3.4vw;
    position: fixed;
    z-index: 10;
    bottom: 0;
    left:0;
    margin: 0 auto;
    padding: 1.5vh 0;
    text-align: center;
    background-color: yellow;
    width: 100vw;
}

.blendercontentsub {
        display: flex;
    flex-direction: column;
	overflow: hidden;
    position: relative;
    height: 0;
	background:#f3f3f3;
    margin:0.2vh;
}

.blendercontentsub text{
    font-size: 1.2vw;
    text-align: center;
    margin: 1.2vw auto 0 auto;
    position: relative;
}

    .blendercontentpicture-row,.blendercontentvideo-row{
        justify-content: space-evenly;
        display: flex;
    flex-direction: row;
	overflow: hidden;
    position: relative;
    height: auto;
    width: auto;
    }
    .blendercontentpicture-work,.blendercontentvideo-work{
        text-align: center;
        display: flex;
    flex-direction: column;
	overflow: hidden;
    position: relative;
    height: auto;
    width: auto;
    margin:1.2vw 0;
}
    .blendercontentpicture-work img,.blendercontentvideo-work img{
    position: relative;
    height: 7vw;
    width: 7vw;
    border-radius: 1.6vw;
    margin: 0 auto;
    object-fit: cover;
    }

    .blendercontentpicture-work text,.blendercontentvideo-work text{
        font-size: 1vw;
    }

    .main{
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
    font-family: 'Inter', sans-serif;
    }

a{
    text-decoration: none;
    color: #000;
}

.mid{
    margin: 5vh auto 0 auto;
    position: absolute;
    width: 70vw;
    left: 12.5vw;
        display: flex;
        flex-direction:row;
        padding: 0.5%;
}
.left,.right{
    margin: 0.5%;
    position: relative;
    width: 49%;
    height: 100%;
}

.snscard{
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #ededed;
    margin: 0 auto;
    top: 3.7vw;
    width: 32vw;
    height: 8vw;
    border-radius: 3.1vw;
    border:1.96px solid #999;
}
.snscard img{
    position: relative;
    top:0.1vh;
    border-radius: 1.8vw;
    margin: 1.2vw;
    height: 5.5vw;
    width: 5.5vw;
    object-fit: cover;
    background-color: #5c9381;
    box-shadow: #333 0.15vw 0.15vw 0.9vw;
}

.githubpages{
    overflow: hidden;
    background-color: #fdfdfd;
    width :84%;
    height: auto;
    position: relative;
    margin: 3.4vh auto;
    border-radius: 1.4vh;
    border:1.9px solid #999;
}

.icons{
    display: flex;
    flex-direction: column;
    align-items: left;
    position: absolute;
    height: 100%;
    width: auto;
}

.icons img{
    top: 0.18vh;
    left: 0.1vw;
    width: 2.7vh;
    height: 2.7vh;
    position: relative;
    margin: 1.2vh 0.85vh;
    border-radius: 0.6vh;
}

.githublink,.githublink-end{
    top: 0.1vh;
    white-space: nowrap;
    font-size: 1.6vh;
    display: block;
    position: relative;
    margin: 0 auto;
    padding:1.6vh 0;
    width: 100%;
    padding-left: 4.8vh;
}

.githublink::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1.4px solid #777;
}

.githublink::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.2vh;
    width: 4.4vh;
    border-bottom: 5px solid #fff;
}

.linkallows{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    width: auto;
    height: 95%;
    top: 0.5vh;
    right: 0;
}

.allow{
	width: 0.6vh;
	height: 0.6vh;
	border-top: 1.6px solid #444;
	border-right: 1.6px solid #444;
	-webkit-transform: rotate(45deg);
	position: relative;
	transform: rotate(45deg);
    margin: 1.74vh 1.7vh;
}

.Blender{
    position: relative;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 87.5%;
    margin: 3.4vh auto;
    overflow: hidden;
}

.blenderlabeltop {
    position: relative;
	padding: 2.6vh 4vh;
    border-radius: 2.6vh 2.6vh 0 0;
	display: block;
    font-size:2.2vh;
	color: #444;
	background:#f3f3f3;
    margin: 0.2vh;
}
.blenderlabelbottom{
    position: relative;
	padding: 2.6vh 4vh;
    border-radius: 0 0 2.6vh 2.6vh;
	display: block;
    font-size:2.2vh;
	color: #444;
	background:#f3f3f3;
    margin: 0.2vh;
}
.blenderlabeltop::before,.blenderlabelbottom::before{
	content:"";
	width: 0.8vh;
	height: 0.8vh;
	border-top: 0.25vh solid #444;
	border-right: 0.25vh solid #444;
	-webkit-transform: rotate(45deg);
	position: absolute;
    right: 3vh;
    top: 41%;
	transform: rotate(135deg);
    transition: 0.3s;
}
.blenderlabeltop,.blenderlabelbottom,.blendercontentsub {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: 0.4s;
}

.Label{
	padding: 2.8vh 4vh;
    margin: 0.5vh 0;
    border-radius: 2.2vh;
	display: block;
    position: relative;
    font-size:2.2vh;
	color: #444;
	background:#f3f3f3;
}
.Label::before{
	content:"";
	width: 0.8vh;
	height: 0.8vh;
	border-top: 0.25vh solid #444;
	border-right: 0.25vh solid #444;
	-webkit-transform: rotate(45deg);
	position: absolute;
    right: 3vh;
    top: 41%;
	transform: rotate(135deg);
    transition: 0.3s;
}
.Label,.snscontent,.githubcontent,.blenderlabeltop,.blenderlabelbottom{
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: 0.4s;
}
.snscontent,.githubcontent,.blendercontent{
	height: 0vw;
	margin-bottom:0.15vh;
    transition: 0.5s;
	overflow: hidden;
}
.toggle:checked + .Label + .snscontent{
    height: 16vw;
}
.toggle:checked + .Label + .githubcontent{
    height: 24.4vh;
}
.toggle:checked + .Label + .blendercontent{
    height: 15vw;
    transition: 0.5s;
}

.toggle1:checked + .blenderlabeltop + .blendercontentsub{
    height: 165vw;
    margin:0.4vh 0.2vh;
    transition: 1s;
}
.toggle2:checked + .blenderlabelbottom{
    border-radius: 0;
}
.toggle2:checked + .blenderlabelbottom + .blendercontentsub{
    height: 97.5vw;
    margin:0.4vh 0.2vh;
    border-radius: 0 0 2.6vh 2.6vh;
    transition: 1s;
}

.toggle:checked + .Label + .snscontent,.toggle:checked + .Label + .githubcontent,.toggle2:checked + .blenderlabelbottom + .blendercontentsub{
	transition: 0.5s;
}
.toggle:checked + .Label::before,.toggle1:checked + .blenderlabeltop::before,.toggle2:checked + .blenderlabelbottom::before{
	transform: rotate(-45deg) !important;
    transition: 0.3s;
}

}
