/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

@media screen and (orientation: portrait) {
body, .container, .video-controls, .video-timer, .options{
  display: flex;
  align-items: center;
  justify-content: center;
}

body{
  min-height: 100vh;
  width: 100%;
  background: #000;
  position: fixed;
  top: 0;
  bottom: 0;
}
#blurred{
  position: absolute;
  align-self: center;
  filter: blur(6vw);
  width: 200vw;
  opacity: 0.8;
}
.container{
  width: 100vw;
  margin: 2vw;
  user-select: none;
  overflow: hidden;
  border-radius: 4vw;
  background: #000;
  position: relative;
  box-shadow: 0 0 5vw rgba(0, 0, 0, 0.6);
}
.container video{
  width: 100%;
}
}





@media screen and (orientation: landscape) {
  body, .container, .video-controls, .video-timer, .options{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  body{
    min-height: 100vh;
    width: 100vw;
    background: #000;
    position: fixed;
    top: 0;
    bottom: 0;
  }
  #blurred{
    position: absolute;
    align-self: center;
    filter: blur(5vw);
    width: 135vw;
    opacity: 0.8;
  }
  .container{
    width: 135vh;
    margin: 2vw;
    user-select: none;
    overflow: hidden;
    border-radius: 3.5vw;
    background: #000;
    position: relative;
    box-shadow: 0 0 5vw rgba(0, 0, 0, 0.6);
  }
  .container video{
    width: 100%;
  }
  }
  
  